<div ng-if="!experience">
  <div class="page-header">
    <h1>Error</h1>
  </div>
  <div class="alert alert-danger">
    <p>Experiencia no encontrada</p>
  </div>
</div>
<div >
  <div class="page-header">
    <experience-name></experience-name>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <experience-image></experience-image>
    </div>
    <div class="col-xs-12">
      <h4 class="text-center primary-text">Titulo de experiencia</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      </p>
    </div>
    <div class="col-xs-12">
      <hr>
    </div>
    <div class="col-xs-12">
      <div class="col-xs-4">
          <experience-image class="img-dp"></experience-image>
      </div>
      <div class="col-xs-8">
        <h4 class="primary-text">Titulo del servicio</h4>
        <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</p>
        <span class="label label-primary pull-right">#{{experience.id}}</span>
      </div>
    </div>
    <div class="col-xs-12">
      <hr>
    </div>
    <div class="col-xs-12">
      <div class="col-xs-4">
          <experience-image class="img-dp"></experience-image>
      </div>
      <div class="col-xs-8">
        <h4 class="primary-text">Titulo del servicio</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</p>
        <span class="label label-primary pull-right">#{{experience.id}}</span>
      </div>
    </div>

    <div class="col-xs-12">
      <hr>
    </div>
    <div class="col-xs-12">
      <div class="col-xs-4">
          <experience-image class="img-dp"></experience-image>
      </div>
      <div class="col-xs-8">
        <h4 class="primary-text">Titulo del servicio</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</p>
        <span class="label label-primary pull-right">#{{experience.id}}</span>
      </div>
    </div>
    <!-- Tabs -->

    <!-- /tabs -->
  </div>
  <!-- /comments -->
</div>
