body {
  padding-top: 50px;
}

.navbar-brand {
  font-weight: 800;
}

.navbar-brand img {
  width: 24px;
}

.avatar {
  max-width: 480px;
  margin-bottom: 20px;
}

.nav-tabs {
  margin-bottom: 10px;
}

.form-group {
  padding: 10px;
}

.type {
  margin-left: 1px;
}

.type-normal {
  background-color: #a8a878;
}

.type-fire {
  background-color: #f08030;
}

.type-fighting {
  background-color: #c03028;
}

.type-cultura {
  background-color: #6890f0;
}

.type-deporte {
  background-color: #a890f0;
}

.type-vegano {
  background-color: #78c850;
}

.type-ocio {
  background-color: #a040a0;
}

.type-entretenimiento {
  background-color: #f8d030;
}

.type-ground {
  background-color: #e0c068;
}

.type-psychic {
  background-color: #f85888;
}

.type-rock {
  background-color: #b8a038;
}

.type-ice {
  background-color: #98d8d8;
}

.type-bug {
  background-color: #a8b820;
}

.type-dragon {
  background-color: #7038f8;
}

.type-ghost {
  background-color: #705898;
}

.type-dark {
  background-color: #705848;
}

.type-steel {
  background-color: #b8b8d0;
}

.type-fairy {
  background-color: #ee99ac;
}

.ng-invalid.ng-dirty {
  border-color: #D9230F;
}

.ng-valid.ng-dirty {
  border-color: #468847;
}

.pokemon {
}

.pokemon h1 {
  margin: 0;
  color: #fff;
  font-size: 18px;
}

.pokemon h1 > small {
  color: #ccc;
}

.pokemon img {
  max-width: 100px;
  max-height: 110px;
}

.pokemon .panel-body {
  position: relative;
}

.pokemon pokemon-type {
  font-size: 22px;
}

.img-dp img{
  max-width: 100px;
  max-height: 110px;
}

.panel-primary {
    border-color: #32ac2e;
}

.panel-primary>.panel-heading {
    color: #ffffff;
    background-color: #289c51;
    border-color: #1ea23e;
}

.label-primary {
    background-color: #289c51;
}

.navbar-inverse {
    background-color: #d9230f;
    border-color: #a91b0c;
}

.navbar-inverse {
    background-color: #289c51;
    border-color: #289c51;
}

.navbar-inverse .navbar-brand {
    color: #dedede;
}

.pagination>.active>a, 
.pagination>.active>span, 
.pagination>.active>a:hover, 
.pagination>.active>span:hover, 
.pagination>.active>a:focus, 
.pagination>.active>span:focus {
    z-index: 2;
    color: #ffffff;
    background-color: #289c51;
    border-color: #289c51;
    cursor: default;
}

.navbar-inverse .navbar-toggle {
    border-color: #7bbf93;
}

.footer {
    position: fixed!important;
    bottom: 0!important;
    right: 0!important;
    width: 100%!important;
    background: #000000;
}

.navbar-rigth {
    float: right;
    padding: 11px 15px;
    font-size: 17px;
    line-height: 18px;
    height: 40px;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #1e5e2c;
}